$blue: #9dd3f2;

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;   
    width: 100%;
    font-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

*{
    size: 100vh;
    height: 100%;
    position: absolute;
    background-color: $blue;
}