<mat-toolbar class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar is-dark">
        <div class="navbar-brand navbar-header">
          <a mat-button class="navbar-item" name='Home' [routerLink]="'/main'">
            <img [src]="imageSrc">
          </a>
        </div>
    </div>
      <div id="navbarBasicExample" class="navbar-menu is-dark is-spaced">
        <div class="navbar-start is-spaced">
          <a mat-button class="navbar-item is-spaced" name='Home' [routerLink]="'/main'">
            Home
          </a>
    
          <a mat-button class="navbar-item is-spaced" name='Shop' [routerLink]="'/shop'">
            Shop
          </a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-start">
          <a mat-button class="navbar-item" [routerLink]="'/cart'">
            <img [src] = "imageSrc2">
          </a>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a mat-button class="button" name='Log' [routerLink]="'/login'">
              <strong>Log in</strong>
            </a>
            <a mat-button class="button is-primary" name='Sign' [routerLink]="'/signup'">
              <strong>Sign up</strong>
            </a>
          </div>
        </div>
      </div>
    </mat-toolbar>
