$blue: #9dd3f2;
$darkerblue: #42c0fb;

.profile{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

h1{
    font-size: 100px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: $darkerblue;
    text-shadow: 3px 3px $blue;
}

button{
    width: 100px;
    margin-left: 46.5%;
}

p{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px #9dd3f2;
}