$blue: #9dd3f2;
$darkerblue: #42c0fb;

/* div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
} */

.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main_component {
    height: 100vh;
}

span {
    padding: 5px 5px 5px 5px;
    margin-bottom: 30px;
}

input{
    margin-top: 20px;
    width: 500px;
    justify-content: center;
    margin-bottom: 40px;
}

label{
    font-size: 30px;
    text-align: center;
    padding: 30px;
    text-shadow: 1px 1px $darkerblue;
  
}

h1{
    font-size: 80px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: bold;
    color: $darkerblue;
    text-shadow: 3px 3px $blue;
}

#submit{
    margin-right: 30px;
}

.fields{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

mat-label{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    padding: 40px;
    text-shadow: 1px 1px $darkerblue;
}

mat-form-field{
    width: 530px;
}

.email{
    margin-left: 35%;
}

.password{
    margin-left: 30%;
}