

.books{
    float: left;
    border: 100px;
    padding: 20px;
    height: 200px;
    width: 250px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

button{
    margin-left: 29.5%;
}